black==23.7.0
click==8.1.5
customtkinter==5.2.0
darkdetect==0.8.0
EasyProcess==1.1
entrypoint2==1.1
flake8==6.0.0
jeepney==0.8.0
mccabe==0.7.0
MouseInfo==0.1.3
mss==9.0.1
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
Pillow==10.0.0
platformdirs==3.8.1
psutil==5.9.5
PyAutoGUI==0.9.54
pycodestyle==2.10.0
pyflakes==3.0.1
PyGetWindow==0.0.9
Pympler==1.0.1
PyMsgBox==1.0.9
pynvml==11.5.0
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
python3-xlib==0.15
pytweening==1.0.7
tomli==2.0.1
